<%- include('partials/header.ejs'); -%>
<div class="given">
<div class ="option">
    
    <form action ="/choose" method="post">
        <h1>Academics</h1>
    

        <%#<input type="text" name="choosen" placeholder="New Item" autocomplete="off" autofocus="true" />%>
        <button type="submit" formmethod="post" name="choosen" value="Academics">START</button>
    </form>
    
</div>
<div class ="option">
    
    <form action ="/choose" method="post">
        <h1>Books</h1>
    

        <%#<input type="text" name="choosen" placeholder="New Item" autocomplete="off" autofocus="true" />%>
        <button type="submit" formmethod="post" name="choosen" value="Books">START</button>
    </form>
    
</div>
<div class ="option">
    
    <form action ="/choose" method="post">
        <h1>Chores</h1>
    

        <%#<input type="text" name="choosen" placeholder="New Item" autocomplete="off" autofocus="true" />%>
        <button type="submit" formmethod="post" name="choosen" value="Chores">START</button>
    </form>
    
</div>
</div>












<%- include('partials/footer.ejs'); -%>